#todo-list
  margin-top: 1em



/*
 * Items
 */
.todo
  background: #eee
  border: 1px solid #ccc
  border-radius: .3em
  font-size: 1.2em
  margin: .5em 0
  padding: 1em

  &--done
    opacity: .5

  &-label
    margin-left: .5em

  &--done &-label
    text-decoration: line-through
  &-trash
  &-star
    cursor: pointer
    float: right
    margin-left: .5em

  &--favorite &-star
    color: #daa520
