#todo-list
  margin-top: 1em



/*
 * Items
 */
.todo
  background: #eee
  border: 1px solid #ccc
  border-radius: .3em
  font-size: 1.2em
  padding: 1em
  margin: .5em 0

  &--done
    opacity: .5

  &-label
    margin-left: .5em

  &--done &-label
    text-decoration: line-through
